<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>QR-Code Generator</title>
</head>
<body>
    <div class="container">
        <h1>QR Code Generator</h1>
        <h6>Insert Link Below</h6>
    </div>
    <div class="container">
        <form action="{{ url_for('generate_qr_code') }}" method="POST">
            <input type="text" placeholder="link goes here" name="link" id="link">
            <button type="submit" onclick="onClick()">Submit</button>
        </form>
    </div>
    <div class="qrcode"></div>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>